<div class="sidebar-box">
    <div class="bio text-center">
        <img src="/images/kimch-profile.jpg" alt="Image Placeholder" class="img-fluid">
        <div class="bio-body">
            <h2>김창현</h2>
            <p>사진과 야구를 좋아하는 개발자</p>
            <p><a href="https://github.com/changhyeonkim-dev" class="btn btn-primary btn-sm rounded">Github</a></p>
            <p class="social">
                <a href="https://www.instagram.com/chyunx.x" class="p-2"><span class="fa fa-instagram"></span></a>
            </p>
        </div>
    </div>
</div>
<!-- END sidebar-box -->
<div class="sidebar-box">
    <h3 class="heading">Popular Posts</h3>
    <div class="post-entry-sidebar">
        <ul>
            <div id="popular-post-container">

            </div>
        </ul>
    </div>
</div>